.homepage .static_frame {
  width: 100%;
  background: #f3efe9;
}

.homepage .free_ship {
  margin-right: 0px;
  position: relative;
  width: 60px;
  height: 60px;
  background: url("/public/home/free.png");
  background-size: cover;
}

.homepage .pay_meth {
  margin-left: 20px;
  position: relative;
  width: 62px;
  height: 60px;
  background: url("/public/home/payment.png");
  background-size: cover;
}

.homepage .online_sup {
  margin-left: 20px;
  position: relative;
  width: 60px;
  height: 60px;
  background: url("/public/home/online.png");
  background-size: cover;
}

.homepage .packaging {
  margin-left: 20px;
  position: relative;
  width: 60px;
  height: 60px;
  background: url("/public/home/package.png");
  background-size: cover;
}

.homepage .static_box {
  width: 191px;
  height: 120px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 18px;
}

.homepage .static_box .static_num {
  font-family: "Poppins";
  text-align: center;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 10px;
  color: #220f0f;
}

.homepage .static_text {
  width: 191.351px;
  height: 24px;
  font-family: "Poppins";
  text-align: center;
  font-weight: 500;
  font-size: 16px;
  font-style: normal;
  line-height: 20px;

  color: rgb(73, 71, 71);
}

/* collections type */
.homepage .collection_frame {
  margin-top: 20px;
  width: 100%;
  height: 480px;
  display: flex;
}

.homepage .category_title {
  margin-top: 10px;
  margin-bottom: 10px;
  font-family: "Roboto";
  font-size: 38px;
  font-style: normal;
  font-weight: 700;
  line-height: 42px;
  color: #0f0c08;
}

.homepage .category_title_box {
    width: 100%;
  margin-top: 20px;
  margin-bottom: 10px;
  font-family: "Roboto";
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 42px;
  color: #0f0c08;
  display: flex;
  justify-content: flex-end;
}
.more_than{
    width: 100px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    cursor: pointer;
}

.more_than:hover {
    color: #b93434;
}

.image_box {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.homepage .collection_box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
.homepage .collection_box:hover {
    border: 1px solid black;
    border-radius: 100%;
}

.homepage .collection_box .collection_img {
  position: relative;
  width: 380px;
  height: 380px;
  background-size: cover;
  border-radius: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.homepage .view_btn {
  width: 180px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  z-index: 3;
  opacity: 0;
  transition: opacity 0.5s ease;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 20px;
  color: #ffffff;
  background-color: #170809a0;
  border: 1px solid #1a0606cb;
}

.view_btn:active {
  background: rgba(255, 0, 0, 0.868);
  border: 1px solid #ed0505;
}

.homepage .collection_img:hover .view_btn {
  opacity: 1;
}

.homepage .best_product_frame {
  width: 100%;
  height: auto;
  display: flex;
  margin-bottom: 50px;
  /* background: #8db1d5; */
}

.best_product_frame .category_title {
  font-family: "Roboto";
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: 42px;

  /* color: #e3c08d; */
}

.like_hover {
  cursor: pointer;
  z-index: 3;
  opacity: 0;
  transition: opacity 0.5s ease;
}


.img_carts:hover .like_hover {
  opacity: 1;
}
.img_carts {
  transition: 0.2s;
  border: 1px solid #ccc;
    box-shadow: 0 2px 4px 0 #0e1e251f, 0 2px 16px 0 #0e1e2552;

}
.img_carts:hover {
  /* transform: scaleX(1.1); */
  transform: translate3d(0px, -10px, 0px);
  border: 1px solid black;
}

.img_cart:hover .like_hover {
  opacity: 1;
}

.img_cart {
  transition: 0.2s;
}
.img_cart:hover {
  transform: scale(1.1);
  /* border: 1px solid rgb(213, 67, 67); */
}

.img_carts_brands:hover {
     border: 1px solid black;
}
.img_carts_brands:hover .like_hover {
  opacity: 1;
}

.big_sale_frame {
  width: 100%;
  height: auto;
  background: #f3efe9;
}

.checkbox {
  margin-top: 30px;
  margin-bottom: 45px;
  width: 150px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: opacity 0.5s ease;
  background: green;
  border: 1px solid green;
  border-radius: 5px;
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 40px;
  color: #ffffff;
}

.checkbox:active {
    border: 1px solid rgb(0, 0, 0);
}



.img-magnifier {
    width: 500px;
    height: 500px;
    /* background: url("/public/shops/3.webp"); */
    background-size: cover;
}

* {box-sizing: border-box;}

.img-magnifier{
  position: relative;
}

.img-magnifier-glass {
  position: absolute;
  border: 3px solid #000;
  border-radius: 50%;
  cursor: none;
  /*Set the size of the magnifier glass:*/
  width: 100px;
  height: 100px;
}

.brand_info {
  /* margin-top: 75px; */
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
 .brand_info_frame {
  position: relative;
  width: 579px;
  height: 447px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
}