.homepage .static_frame {
  width: 100%;
  background: #f3efe9;
}

.homepage .free_ship {
  margin-right: 0px;
  position: relative;
  width: 60px;
  height: 60px;
  background: url("/public/home/free.png");
  background-size: cover;
}

.homepage .pay_meth {
  margin-left: 20px;
  position: relative;
  width: 62px;
  height: 60px;
  background: url("/public/home/payment.png");
  background-size: cover;
}

.homepage .online_sup {
  margin-left: 20px;
  position: relative;
  width: 60px;
  height: 60px;
  background: url("/public/home/online.png");
  background-size: cover;
}

.homepage .packaging {
  margin-left: 20px;
  position: relative;
  width: 60px;
  height: 60px;
  background: url("/public/home/package.png");
  background-size: cover;
}

.homepage .static_box {
  width: 191px;
  height: 120px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 18px;
}

.homepage .static_box .static_num {
  font-family: "Poppins";
  text-align: center;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 10px;
  color: #220f0f;
}

.homepage .static_text {
  width: 191.351px;
  height: 24px;
  font-family: "Poppins";
  text-align: center;
  font-weight: 500;
  font-size: 16px;
  font-style: normal;
  line-height: 20px;

  color: rgb(73, 71, 71);
}

/* collections type */
.homepage .collection_frame {
  margin-top: 20px;
  width: 100%;
  height: 480px;
  display: flex;
}

.homepage .category_title {
  margin-top: 10px;
  margin-bottom: 10px;
  font-family: "Roboto";
  font-size: 38px;
  font-style: normal;
  font-weight: 700;
  line-height: 42px;
  color: #0f0c08;
}

.image_box {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.homepage .collection_box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.homepage .collection_box .collection_img {
  position: relative;
  width: 380px;
  height: 380px;
  background-size: cover;
  /* border-radius: 100%; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.homepage .view_btn {
  width: 180px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  z-index: 3;
  opacity: 0;
  transition: opacity 0.5s ease;
  background: rgba(132, 185, 136, 0.59);
  border: 2px solid #77b36ae1;
  border-radius: 5px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 20px;
  color: #ffffff;
}

.view_btn:active {
  background-color: #170809a0;
  border: 2px solid #1a0606ca;
  color: rgba(61, 224, 80, 0.91);
}

.homepage .collection_img:hover .view_btn {
  opacity: 1;
}

.homepage .best_product_frame {
  width: 100%;
  height: 700px;
  display: flex;
  /* background: #8db1d5; */
}

.best_product_frame .category_title {
  font-family: "Roboto";
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: 42px;

  /* color: #e3c08d; */
}

.best_product {
  justify-content: space-between;
  margin-left: 25px;
}

.like_hover {
    cursor: pointer;
  z-index: 3;
  opacity: 0;
  transition: opacity 0.5s ease;
}

.img_cart:hover .like_hover {
  opacity: 1;
}

.img_cart{
  transition: .2s;
}
.img_cart:hover{
  transform: scale(1.1);
}
