.format.home_navbar {
  width: 100%;
  height: 90px;
  display: flex;
  background-color: #8e8e8ee2;
}

.format.home_navbar .navbar_config {
  width: 1244.69px;
  height: 46px;
  margin-left: 10px;
  margin-top: 25px;
}

.home_navbar .navbar_links {
  width: 756px;
  height: 46px;
}

.home_navbar a {
  text-decoration: none;
}

.home_navbar .hover-line a {
  color: #ffffff;
}

.home_navbar .underline {
  display: block;
  content: "";
  border-bottom: solid 2px #ccd786;
}

.home_navbar .hover-line:after {
  display: block;

  content: "";
  border-bottom: solid 2px #ccd786;
  transform: scaleX(0);
  transition: transform 250ms ease-in-out;
}
.home_navbar .hover-line:hover:after {
  transform: scaleX(1);
}

.head_information1 {
  width: 100%;
  height: 500px;
  background: url("/public/shops/1.png");
  background-size: cover;
  display: flex;
  position: relative;
  flex-direction: row;
}
.head_information2 {
  width: 100%;
  height: 500px;
  background: url("/public/shops/2.png");
  background-size: cover;
  display: flex;
  position: relative;
  flex-direction: row;
}
.head_information3 {
  width: 100%;
  height: 500px;
  background: url("/public/shops/3.webp");
  background-size: cover;
  display: flex;
  position: relative;
  flex-direction: row;
}

.head_information4 {
  width: 100%;
  height: 500px;
  background: url("/public/shops/4.png");
  background-size: cover;
  display: flex;
  position: relative;
  flex-direction: row;
}

.head_information5 {
  width: 100%;
  height: 500px;
  background: url("/public/shops/6.webp");
  background-size: cover;
  display: flex;
  position: relative;
  flex-direction: row;
}

.box_head {
  width: 800px;
  height: 350px;
  margin-left: 255px;
  margin-top: 80px;
  background-color: #0a08085d;
}
.box_head:hover {
  border: 1px solid red;
}

.head_title {
  width: 700px;
  height: 50px;
  font-size: 50px;
  font-family: "Rubik", sans-serif;
  color: #ffffff;
  font-weight: 500;
  /* margin: 10px 0; */
  /* font-family:sans-serif; */
  /* margin-top: 20px; */
  margin-left: 40px;
  /* height: 80px; */
}
.head_text {
  width: 670px;
  height: 60px;
  font-family: "Rubik", sans-serif Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-size: 22px;
  color: #ffffff;
  font-weight: 400;
  /* margin-top: 40px; */
  margin-left: 40px;
  /* margin-bottom: 50px; */
}


.info_store {
  margin-top: 30px;
  margin-left: 40px;
  width: 270px;
  height: 65px;
  text-align: center;
  justify-content: center;
  align-items: center;
  border: 1px solid rgb(128, 128, 128);
  font-size: 30px;
  color: #f1dede;
  background-color: rgba(58, 57, 57, 0.593);
}
.info_store:hover{
  background-color: black;
  border: 1px solid black;
}
.info_store:active{
  border: 1px solid rgb(255, 255, 255);
}


.shop_information {
  width: 100%;
  height: 400px;
  background: url("/public/shops/kerak.png");
  background-size: cover;
  justify-content: center;
  align-items: center;
  bottom: 30px;
}

.others_information {
  width: 100%;
  height: 400px;
  background: url("/public/shops/last.png");
  background-color: #d7b686;
  background-size: cover;
  justify-content: center;
  align-items: center;
}
