/* AllShops */
.shop_page {
  position: relative;
  width: 100%;
  height: auto;
}
.shop_page .all_shop .fit_search_box {
  position: relative;
  width: 100%;
  height: 33px;
  margin-top: 60px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.fit_box {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.shop_page .all_shop .all_shop_box {
  position: relative;
  width: 1305px;
  height: auto;
  margin-top: 50px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.shop_cart {
  box-shadow: 0 3px 4px 0 #0e1e251f, 0 2px 16px 0 #09151a52;
  cursor: pointer;
}
.shop_cart:hover {
  border: 1px solid black;
  transform: translate3d(0px, -10px, 0px);
}
.shop_like {
  cursor: pointer;
  z-index: 3;
  opacity: 0;
  transition: opacity 0.5s ease;
}

.shop_cart:hover .shop_like {
  opacity: 1;
}

.shop_page .all_shop .bottom_box {
  position: relative;
  width: 100%;
  height: 168px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

/* ****single shop css */
.shop_page .single_shop {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
}
.shop_page .box_link {
  width: 100%;
  display: flex;
  flex-direction: row;
  /* margin-top: 30px; */
  align-items: center;
}
.shop_page .home_link {
  /* width: 100px; */
  height: 24px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  /* margin-left: 10px;
  margin-right: 10px; */
  align-items: center;
  border-radius: 20px;
  cursor: pointer;
  padding: 2px 8px;
  transition: all 0.3s;
}
.shop_page .home_link:hover {
  background-color: rgb(235, 233, 233);
}

.shop_page .box_link p {
  font-size: 24px;
}

.shop_page .single_shop .avatar_big_box {
  position: relative;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.shop_page .single_shop .top_text {
  position: relative;
  width: 100%;
  height: 43px;
  margin-top: 50px;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.shop_page .single_shop .top_text p {
  position: relative;
  margin-right: 50px;

  font-family: "Dancing Script";
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 43px;

  color: #070604;
}

.shop_page .single_shop .Single_search_big_box {
  position: relative;
  width: 300px;
  height: 33px;
  display: flex;
  align-items: center;
  background: #fffcfc;
  border: 1px solid #ffffff;
  box-shadow: 0px 4px 4px rgba(213, 213, 213, 0.25);
  border-radius: 15.5px;
  box-sizing: border-box;
}

.shop_page .single_shop .Single_search_form {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.shop_page .single_shop .Single_searchInput {
  position: relative;
  width: 200px;
  height: 28px;
  margin-left: 10px;

  display: flex;
  border: none;
  border-radius: 15.5px 0px 0px 15.5px;
  font-family: "GT Walsheim Pro";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 26px;
  color: #4f547b;
}

.shop_page .single_shop .Single_button_search {
  position: relative;
  width: 100px;
  height: 33px;
  display: flex;

  border-radius: 18.5px;
  background: #282626;
}

.shop_page .single_shop .prev_btn,
.single_shop .next_btn {
  width: 10%;
  height: 147px;

  display: flex;
  justify-content: center;
  align-items: center;
}
.shop_page .single_shop .single_shop_box {
  position: relative;
  width: 1240px;
  height: auto;
  margin-top: 50px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

.shop_page .single_shop .bottom_box {
  position: relative;
  width: 100%;
  height: 130px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-bottom: 50px;
}

.shop_page .single_shop .member_reviews {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 60px;
}

.shop_page .single_shop .category_title {
  font-family: "Dancing Script";
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 43px;
  color: #000000;
}
.shop_page .single_shop .shop_avatars_wrapper {
  width: 100%;
  height: 147px;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  overflow: hidden;
}
.shop_page .single_shop .shop_avatars_wrapper .shop_avatars {
  width: 108px;
  height: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.shop_page .single_shop .shop_avatars img {
  width: 108px;
  height: 108px;

  border-radius: 50%;
}
.shop_page .single_shop .shop_avatars:hover img {
  border: 1px solid black;
}

.shop_page .single_shop .shop_avatars span {
  margin-top: 14px;
  font-family: "Solway";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 14px;
  color: #110e0e;
}

/* .product_container {
  display: flex;
  flex-direction: row;
}
.chosen_produc_wrap { */
/* width: 55%;
  height: 450px; */
/* display: flex;
  flex-direction: row;
  min-height: 500px;
  width: 60%;
} */

.img_box {
  width: 100px;
  min-height: 450px;
  margin-right: 20px;
}

.img_selected {
  width: 90px;
  height: 70px;
  margin-bottom: 8px;
  cursor: pointer;
  transition: all 0.2s;
  border: 2px solid #ffffff;
  &:hover {
    border: 2px solid #f0b512;
  }
}

.main_img_box {
  min-height: 450px;
}
.selected_item {
  min-width: 500px;
  z-index: 1;
}

/* Chosen Dish */
.shop_page .chosen_product_page {
  position: relative;
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
}

.chosen_product_page .product_container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-top: 60px;
  padding-bottom: 60px;
}

.chosen_product_page .chosen_produc_wrap {
  width: 55%;
  display: flex;
  flex-direction: row;
}

.chosen_product_page .dish_swiper {
  --swiper-navigation-color: #fff;
  --swiper-pagination-color: #fff;
  /* width: 100%; */
  /* height: auto; */
}

.chosen_product_page .bottom_wrap {
  width: 550px;
  height: 245px;
  margin-top: 20px;
}
.chosen_product_page .bottom_wrap .bottom_img {
  /* cursor: "pointer"; */
  height: 107px;
  display: flex;
  width: 400px;
  margin-right: 20px;
  gap: 20px;
}

.chosen_product_page .bottom_img img {
  margin-left: 10px;
  border-radius: 15px;
  border: 1px solid;
}
.chosen_product_info_container {
  padding: 30px 40px;
  width: 40%;
  height: auto;
  display: flex;
  position: relative;
  z-index: 0;
}

.chosen_product_info_container .chosen_product_info_box {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
}

.chosen_product_info_box .pro_txt {
  width: 288px;
  height: 38px;
  color: #000;
  font-family: Poppins;
  font-size: 30px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.chosen_product_info_box .shop_name {
  color: #000;
  font-family: Poppins;
  font-size: 12px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  margin-top: 16px;
  /* margin-bottom: 20px; */
}

.chosen_product_info_box .rating_box {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.chosen_product_info_box .evaluation_box {
  display: flex;
}

.chosen_product_info_box .produt_desc_bottom {
  position: absolute;
  display: flex;
  flex-direction: column;
  width: calc(100% - 80px);
  bottom: 20px;
  left: auto;
  right: auto;
}

.chosen_product_info_box .pro_price_box {
  display: flex;
  gap: 20px;
  color: #000;
  font-family: Poppins;
  font-size: 15px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  margin: 20px 0;
}

.chosen_product_info_box .bottom_box {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-bottom: 18px;
  margin-top: 10px;
}
.bottom_price {
  display: flex;
  flex-direction: row;
}

.bottom_add {
  background-color: #f0b512;
  color: #f0b512;
}

.chosen_product_page .commet_box {
  margin-top: 30px;
  width: 100%;
  height: auto;
}

.chosen_product_page .comment {
  font-size: 32px;
  font-family: "Poppins";
  font-weight: bold;
  line-height: 10px;
  margin-left: 50px;
}

.chosen_product_page .comment_wrap {
  width: 100%;
  height: auto;
  margin-left: 50px;
  margin-top: 10px;
}

.chosen_product_page .comment_txt {
  position: relative;
  width: 100%;
  height: auto;
  margin-left: 5px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.chosen_product_page .img_comment {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.chosen_product_page .comm_desc_box {
  width: 80%;
  height: auto;
  margin-bottom: 30px;
}

.chosen_product_page .commenter {
  font-family: "Poppins";
  font-weight: bold;
  font-size: 28px;
  margin-left: 10px;
  margin-right: 10px;
  color: black;
}

.chosen_product_page .comment_time {
  font-size: 12px;
  color: #616164;
  line-height: 0;
  margin-left: 10px;
}

.chosen_product_page .comment_des_txt {
  margin-left: 70px;
  font-size: 28px;
  font-family: "Poppins";
  /* line-height: 28px; */
  color: #1c1b1b;
}

.chosen_product_page .input_frame {
  margin-top: 25px;
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.chosen_product_page .long_input {
  width: 100%;
  height: auto;

  display: flex;
  flex-direction: column;
}

.chosen_product_page .spec_label {
  font-family: "Source Serif Pro";
  font-style: normal;
  font-weight: 400;
  font-size: 28px;
  line-height: 25px;
  margin-left: 60px;

  color: #0b0808;
}

.chosen_product_page .spec_textarea {
  position: relative;
  margin-top: 10px;
  padding: 20px;
  width: 100%;
  height: 200px;
  background: transparent;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
  font-family: "GT Walsheim Pro";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 26px;
  color: #1d1f2f;
}
